@mixin transition($value...) {
    -webkit-transition: $value;
    -moz-transition: $value;
    -o-transition: $value;
    transition: $value;
}

@mixin traDelay($value...) {
    -webkit-transition-delay: $value;
    -o-transition-delay: $value;
    transition-delay: $value;
}

@mixin radius($value...) {
    -webkit-border-radius: $value;
    border-radius: $value;
}

@mixin transform($value...) {
    -webkit-transform: $vlaue;
    transform: $vlaue;
}

@mixin border-box{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

@mixin bgsize($value...) {
    -webkit-background-size: $value;
    background-size: $value;
  }