@mixin transition($value...) {
    -webkit-transition: $value;
    -moz-transition: $value;
    -o-transition: $value;
    transition: $value;
}

@mixin traDelay($value...) {
    -webkit-transition-delay: $value;
    -o-transition-delay: $value;
    transition-delay: $value;
}

@mixin radius($value...) {
    -webkit-border-radius: $value;
    border-radius: $value;
}

@mixin transform($value...) {
    -webkit-transform: $value;
    transform: $value;
}

@mixin border-box{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

@mixin bgsize($value...) {
    -webkit-background-size: $value;
    background-size: $value;
  }


/* @mixin animate($value...) {
    0% {opacity: ;}
} */

@mixin shadow($value...){
    -webkit-box-shadow: $value;
    -moz-box-shadow: $value;
    -o-box-shadow: $value;
    -ms-box-shadow: $value;
    box-shadow: $value;
}