@charset "utf-8";

@import "_mixin", "_var";

@font-face{
    font-family: NtSans;
    font-weight: 400;
    font-style: normal;
    src: url("../fonts/NotoSans-Regular.eot");
    src: url("../fonts/NotoSans-Regular.eot#iefix") format("embedded-opentype"), url("../fonts/NotoSans-Regular.woff2") format("woff2"), url("../fonts/NotoSans-Regular.woff") format("woff"), url("../fonts/NotoSans-Regular.otf") format("opentype");
}

@font-face{
    font-family: NtSans;
    font-weight: 500;
    font-style: normal;
    src: url("../fonts/NotoSans-Medium.eot");
    src: url("../fonts/NotoSans-Medium.eot#iefix") format("embedded-opentype"), url("../fonts/NotoSans-Medium.woff2") format("woff2"), url("../fonts/NotoSans-Medium.woff") format("woff"), url("../fonts/NotoSans-Medium.otf") format("opentype");
}

@font-face{
    font-family: NtSans;
    font-weight: 700;
    font-style: normal;
    src: url("../fonts/NotoSans-Bold.eot");
    src: url("../fonts/NotoSans-Bold.eot#iefix") format("embedded-opentype"), url("../fonts/NotoSans-Bold.woff2") format("woff2"), url("../fonts/NotoSans-Bold.woff") format("woff"), url("../fonts/NotoSans-Bold.otf") format("opentype");
}

@font-face {
    font-family: 'RIDIBatang';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/RIDIBatang.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

//tag reset
body, h1, h2, h3, h4, h5, h6, ul, p, figure, button{margin: 0;padding: 0;}
h1, h2, h3, h4, h5, h6{font-size: 100%;}
ul{list-style: none;}
a:link, a:visited, a:hover, a:active{color: inherit;text-decoration: none;}
img{vertical-align: top;border: none;}
img, figure{max-width: 100%;}
address{font-style: normal;}
button{border: none;background: none;cursor: pointer;}
header, nav, section, article, figure, footer{display: block;}

//common class
.f_l{float: left;}
.f_r{float: right;}
.p_r{position: relative;}
.p_a{position: absolute;}
.clearfix::after{content: "";display: block;clear: both;}
.blind-b{width: 1px;height: 1px;overflow: hidden;border: none;position: absolute;clip: rect(1px, 1px, 1px, 1px);clip-path: inset(50%);}
.center{text-align: center;}
.mt_80{margin-top: 80px;}
h3{display: inline-block;font-size: 20px;line-height: 28px;margin-bottom: 20px;}

.btn_more{display: block;float: right;}
.font16{display: inline-block;font-size: 16px;line-height: 22px;margin-top: 16px;}
.font12{font-size: 12px;line-height: 16px;}
.ft_gray{display: block;color: #949494;margin-top: 10px;}
.radi8{
    @include radius(8px);
    overflow: hidden;
}
.mgb16{margin-bottom: 16px;}
.inner{padding: 0 20px;}


body{font-family: NtSans;font-size: 14px;color: #191919;line-height: 22px;font-weight: 400;word-break: keep-all;}
#wrap{overflow: hidden;/* min-width: 320px; */}

#header{
    @include transition(all 0.3s ease-in-out);
    position: fixed;top: -72px;left: 0;width: 100%;height: 72px;
    z-index: 1000;
    &.load{top: 0;}
    &.bgchange{
        background: #ffffff;border-bottom: 1px solid #e5e5e5;
        .logo a img:last-child{opacity: 1;}
        .btn_menu .line{background: #191919;}
        .search img:last-child{opacity: 1;}
      }
    //.logo{background: red;}
}

.logo{
    &, a img{position: absolute;}
    top: 20px;left: 20px;width: 279px;height: 96px;
    a img{top: 0;left: 0;}
    a img:last-child{opacity: 0;}
}

.search{
    &, img{position: absolute;}
    top: 20px;right: 76px;width: 32px;height: 32px;
    img{top: 0;left: 0;}
    img:last-child{opacity: 0;}
    
}

.btn_menu{
    &, .line{position: absolute;}
    top: 24px;right: 20px;width: 32px;height: 24px;overflow: hidden;z-index: 1100;

    .line{
        @include transition(all 0.3s);
        width: 100%;height: 2px;background: #fff;left: 0;
    }
    .top{top: 0;}
    .mid{top: 10px;}
    .btm{top: 21px;}
    &.active{
        .line{background: #191919;}
        .top{
            @include transform(rotate(45deg));
            top: 10px;
        }
        .mid{left: 100%;}
        .btm{
            @include transform(rotate(-45deg));
            top: 10px;
        }
    }
}

/* gnb 슬라이더 */
#gnb{
    display: none;position: fixed;top: 0;left: 100%;right: 0;bottom: 0;background: #fff;color: #191919;overflow-y: auto;overflow-x: hidden;
    > ul{
        padding: 0px 48px 0 40px;
    }
    ul li a{display: block;}
    .account{
        height: 18px;padding: 27px 20px;
        > li{float: left;margin-right: 24px;}
        > li:first-child::after{content: "";position: absolute;top: 32px;left: 68px;width: 1px;height: 14px;background: #595959;}
    }
    .gnb_menu{
        > li > ul{display: none;}
        > li > a{font-size: 20px;line-height: 28px;font-weight: 700;padding: 16px 0;width: 100%;}
        > li > ul > li{padding: 12px 0 10px;line-height: 18px;}
        /* > li > ul > li > ul{display: none;} */
        > li > ul > li > ul > li{padding: 20px 20px 0;color: #595959;}
        > li{
            position: relative;
            &:not(.gnb6) > a::before, &:not(.gnb6) > a::after{
                //@include transform(rotate(90deg));
                @include transition(transform 0.5s);
                content: "";position: absolute;top: 16px;right: 0px;width: 28px;height: 28px;
              }

              > a::after{
                  @include transform(rotate(0deg));
                  @include transition(all 0.1s ease-out);
                  background: url("../images/main/icon_morelist_1x.png");
                }
              &.on{
                a::after{
                    @include transform(rotate(180deg));
                  }
              }

        }
    }
    .quick_link{
        a{display: block;color: #595959;}
        li{width: 100%;padding: 20px 40px;position: relative;}
        li:first-child{margin-top: 20px;}
        li:first-child::after{content: "";position: absolute;left: 0;top: 16px;width: 28px;height: 28px;background: url("../images/common/icon_inquiry_1x.png");}
        li:last-child::after{content: "";position: absolute;left: 0;top: 16px;width: 28px;height: 28px;background: url("../images/common/icon_location_1x.png");}
    }
    .line_banner{
        @include bgsize(cover);
        position: relative;background: no-repeat center;margin-top: 20px;
        img{min-width: 100%;}

        .swiper-container{
            
            width: 100%;height: 120px;
        }
        .swiper-container.type1{height: 120px;}
        //* * #slide1 .swiper-slider:first-child{}*/
        .swiper-pagination-fraction{
        display: none;}
        
        
        .swiper-slide.banner1{background: url("../images/common/banner_movie1_3x.jpg");}
        &.banner2::before{background: url("../images/common/banner_movie2_3x.jpg");}
        &.banner3::before{background: url("../images/common/banner_movie3_3x.jpg");}

        & ::before{
            content: "";position: absolute;width: 100%;right: 0;top: 0;height: 100%;
        }

    }

    .gnb_btnbtm{
        padding: 20px 20px;line-height: 28px;vertical-align: middle;height: 28px;
        
        .logo_gray{float: left;}
        .btn_sns{float: right;margin-left: 12px;}
    }
}

/* 하단메뉴 */
.btm_quick{
    ul, li, a{display: inline-block;}
    ul{
        text-align: center;background: #eeeeee;width: 100%;padding: 10px 0;
        li:first-child, li:nth-child(2){margin-right: 52px;}
    }
    .txt_link{text-align: center;}
}

/* footer */
#footer{
    background: #fff;color: #949494;
    display: table;padding-bottom: 40px;
    .ft_logo{
        height: 28px;padding: 28px 32px;
        a{display: table-cell;vertical-align: middle;padding-right: 20px;}
    }
    .ft_info{
        font-size: 12px;padding: 0 20px;
        span{margin-right: 24px;position: relative;}
        .ft_bdr::after{content: "";position: absolute;right: -16px;top: 4px;width: 1px;height: 10px;background: #949494;}
    }
}