@charset "UTF-8";
@font-face {
  font-family: NtSans;
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/NotoSans-Regular.eot");
  src: url("../fonts/NotoSans-Regular.eot#iefix") format("embedded-opentype"), url("../fonts/NotoSans-Regular.woff2") format("woff2"), url("../fonts/NotoSans-Regular.woff") format("woff"), url("../fonts/NotoSans-Regular.otf") format("opentype"); }
@font-face {
  font-family: NtSans;
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/NotoSans-Medium.eot");
  src: url("../fonts/NotoSans-Medium.eot#iefix") format("embedded-opentype"), url("../fonts/NotoSans-Medium.woff2") format("woff2"), url("../fonts/NotoSans-Medium.woff") format("woff"), url("../fonts/NotoSans-Medium.otf") format("opentype"); }
@font-face {
  font-family: NtSans;
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/NotoSans-Bold.eot");
  src: url("../fonts/NotoSans-Bold.eot#iefix") format("embedded-opentype"), url("../fonts/NotoSans-Bold.woff2") format("woff2"), url("../fonts/NotoSans-Bold.woff") format("woff"), url("../fonts/NotoSans-Bold.otf") format("opentype"); }
@font-face {
  font-family: 'RIDIBatang';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/RIDIBatang.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
body, h1, h2, h3, h4, h5, h6, ul, p, figure, button {
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%; }

ul {
  list-style: none; }

a:link, a:visited, a:hover, a:active {
  color: inherit;
  text-decoration: none; }

img {
  vertical-align: top;
  border: none; }

img, figure {
  max-width: 100%; }

address {
  font-style: normal; }

button {
  border: none;
  background: none;
  cursor: pointer; }

header, nav, section, article, figure, footer {
  display: block; }

.f_l {
  float: left; }

.f_r {
  float: right; }

.p_r {
  position: relative; }

.p_a {
  position: absolute; }

.clearfix::after {
  content: "";
  display: block;
  clear: both; }

.blind-b {
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: none;
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%); }

.center {
  text-align: center; }

.mt_80 {
  margin-top: 80px; }

h3 {
  display: inline-block;
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 20px; }

.btn_more {
  display: block;
  float: right; }

.font16 {
  display: inline-block;
  font-size: 16px;
  line-height: 22px;
  margin-top: 16px; }

.font12 {
  font-size: 12px;
  line-height: 16px; }

.ft_gray {
  display: block;
  color: #949494;
  margin-top: 10px; }

.radi8 {
  -webkit-border-radius: 8px;
  border-radius: 8px;
  overflow: hidden; }

.mgb16 {
  margin-bottom: 16px; }

.inner {
  padding: 0 20px; }

body {
  font-family: NtSans;
  font-size: 14px;
  color: #191919;
  line-height: 22px;
  font-weight: 400;
  word-break: keep-all; }

#wrap {
  overflow: hidden;
  /* min-width: 320px; */ }

#header {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  position: fixed;
  top: -72px;
  left: 0;
  width: 100%;
  height: 72px;
  z-index: 1000; }
  #header.load {
    top: 0; }
  #header.bgchange {
    background: #ffffff;
    border-bottom: 1px solid #e5e5e5; }
    #header.bgchange .logo a img:last-child {
      opacity: 1; }
    #header.bgchange .btn_menu .line {
      background: #191919; }
    #header.bgchange .search img:last-child {
      opacity: 1; }

.logo {
  top: 20px;
  left: 20px;
  width: 279px;
  height: 96px; }
  .logo, .logo a img {
    position: absolute; }
  .logo a img {
    top: 0;
    left: 0; }
  .logo a img:last-child {
    opacity: 0; }

.search {
  top: 20px;
  right: 76px;
  width: 32px;
  height: 32px; }
  .search, .search img {
    position: absolute; }
  .search img {
    top: 0;
    left: 0; }
  .search img:last-child {
    opacity: 0; }

.btn_menu {
  top: 24px;
  right: 20px;
  width: 32px;
  height: 24px;
  overflow: hidden;
  z-index: 1100; }
  .btn_menu, .btn_menu .line {
    position: absolute; }
  .btn_menu .line {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    width: 100%;
    height: 2px;
    background: #fff;
    left: 0; }
  .btn_menu .top {
    top: 0; }
  .btn_menu .mid {
    top: 10px; }
  .btn_menu .btm {
    top: 21px; }
  .btn_menu.active .line {
    background: #191919; }
  .btn_menu.active .top {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 10px; }
  .btn_menu.active .mid {
    left: 100%; }
  .btn_menu.active .btm {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 10px; }

/* gnb 슬라이더 */
#gnb {
  display: none;
  position: fixed;
  top: 0;
  left: 100%;
  right: 0;
  bottom: 0;
  background: #fff;
  color: #191919;
  overflow-y: auto;
  overflow-x: hidden; }
  #gnb > ul {
    padding: 0px 48px 0 40px; }
  #gnb ul li a {
    display: block; }
  #gnb .account {
    height: 18px;
    padding: 27px 20px; }
    #gnb .account > li {
      float: left;
      margin-right: 24px; }
    #gnb .account > li:first-child::after {
      content: "";
      position: absolute;
      top: 32px;
      left: 68px;
      width: 1px;
      height: 14px;
      background: #595959; }
  #gnb .gnb_menu {
    /* > li > ul > li > ul{display: none;} */ }
    #gnb .gnb_menu > li > ul {
      display: none; }
    #gnb .gnb_menu > li > a {
      font-size: 20px;
      line-height: 28px;
      font-weight: 700;
      padding: 16px 0;
      width: 100%; }
    #gnb .gnb_menu > li > ul > li {
      padding: 12px 0 10px;
      line-height: 18px; }
    #gnb .gnb_menu > li > ul > li > ul > li {
      padding: 20px 20px 0;
      color: #595959; }
    #gnb .gnb_menu > li {
      position: relative; }
      #gnb .gnb_menu > li:not(.gnb6) > a::before, #gnb .gnb_menu > li:not(.gnb6) > a::after {
        -webkit-transition: transform 0.5s;
        -moz-transition: transform 0.5s;
        -o-transition: transform 0.5s;
        transition: transform 0.5s;
        content: "";
        position: absolute;
        top: 16px;
        right: 0px;
        width: 28px;
        height: 28px; }
      #gnb .gnb_menu > li > a::after {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: all 0.1s ease-out;
        -moz-transition: all 0.1s ease-out;
        -o-transition: all 0.1s ease-out;
        transition: all 0.1s ease-out;
        background: url("../images/main/icon_morelist_1x.png"); }
      #gnb .gnb_menu > li.on a::after {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg); }
  #gnb .quick_link a {
    display: block;
    color: #595959; }
  #gnb .quick_link li {
    width: 100%;
    padding: 20px 40px;
    position: relative; }
  #gnb .quick_link li:first-child {
    margin-top: 20px; }
  #gnb .quick_link li:first-child::after {
    content: "";
    position: absolute;
    left: 0;
    top: 16px;
    width: 28px;
    height: 28px;
    background: url("../images/common/icon_inquiry_1x.png"); }
  #gnb .quick_link li:last-child::after {
    content: "";
    position: absolute;
    left: 0;
    top: 16px;
    width: 28px;
    height: 28px;
    background: url("../images/common/icon_location_1x.png"); }
  #gnb #slideGnb {
    margin-top: 20px;
    /* .swiper-pagination-fraction{
        display: none;}
    .swiper-pagination-bullets{
        display: visible;} */ }
    #gnb #slideGnb .swiper-container.type1 {
      width: 100%;
      height: 120px; }
      #gnb #slideGnb .swiper-container.type1 .swiper-slide {
        background-repeat: repeat-x;
        text-align: center; }
        #gnb #slideGnb .swiper-container.type1 .swiper-slide.bnr_movie1 {
          background-image: url("../images/common/banner_movie1_bg1x.jpg"); }
        #gnb #slideGnb .swiper-container.type1 .swiper-slide.bnr_movie2 {
          background-image: url("../images/common/banner_movie2_bg1x.jpg"); }
        #gnb #slideGnb .swiper-container.type1 .swiper-slide.bnr_movie3 {
          background-image: url("../images/common/banner_movie3_bg1x.jpg"); }
      #gnb #slideGnb .swiper-container.type1 .swiper-slide img {
        width: 360px; }
      #gnb #slideGnb .swiper-container.type1 .swiper-pagination {
        bottom: 102px;
        left: 50%;
        z-index: 500; }
    #gnb #slideGnb .swiper-pagination {
      background: red; }
    #gnb #slideGnb .swiper-pagination-fraction {
      display: none; }
    #gnb #slideGnb .swiper-pagination-bullets {
      background: green; }
  #gnb .gnb_btnbtm {
    padding: 20px 20px;
    line-height: 28px;
    vertical-align: middle;
    height: 28px; }
    #gnb .gnb_btnbtm .logo_gray {
      float: left; }
    #gnb .gnb_btnbtm .btn_sns {
      float: right;
      margin-left: 12px; }

/* 하단메뉴 */
.btm_quick ul, .btm_quick li, .btm_quick a {
  display: inline-block; }
.btm_quick ul {
  text-align: center;
  background: #eeeeee;
  width: 100%;
  padding: 10px 0; }
  .btm_quick ul li:first-child, .btm_quick ul li:nth-child(2) {
    margin-right: 52px; }
.btm_quick .txt_link {
  text-align: center; }

/* footer */
#footer {
  background: #fff;
  color: #949494;
  display: table;
  padding-bottom: 40px; }
  #footer .ft_logo {
    height: 28px;
    padding: 28px 32px; }
    #footer .ft_logo a {
      display: table-cell;
      vertical-align: middle;
      padding-right: 20px; }
  #footer .ft_info {
    font-size: 12px;
    padding: 0 20px; }
    #footer .ft_info span {
      margin-right: 24px;
      position: relative; }
    #footer .ft_info .ft_bdr::after {
      content: "";
      position: absolute;
      right: -16px;
      top: 4px;
      width: 1px;
      height: 10px;
      background: #949494; }

/*# sourceMappingURL=common.css.map */
