@charset "UTF-8";
.top_visual {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  overflow: hidden; }
  .top_visual::before {
    -webkit-background-size: cover;
    background-size: cover;
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    max-height: 100%;
    background-position: center; }
  .top_visual.on::before {
    -webkit-transform: scale(1);
    transform: scale(1); }
  .top_visual .txtwrap {
    position: relative;
    color: #fff; }

/* 메인슬라이더 */
.top_visual {
  position: relative;
  max-height: 400px;
  min-width: 360px; }
  .top_visual .slide_wrap img {
    display: block;
    width: 100%; }
  .top_visual .swiper-slide {
    height: 400px; }
  .top_visual .swiper-slide .slide_wrap {
    width: 100%; }
  .top_visual .swiper-slide .txtwrap {
    /* @include transform(translateY(-50%)); */
    margin-left: 20px;
    /* position: absolute;left: 0;top: 32%;width: 240px;height: 280px;bottom: 60%; */
    position: absolute;
    left: 0;
    top: 32%;
    width: 240px;
    height: 280px;
    bottom: 60%; }
  .top_visual .swiper-slide .txtwrap > h4 {
    font-size: 24px;
    line-height: 40px;
    height: 72px; }
  .top_visual .swiper-slide .txtwrap > p {
    margin-top: 20px; }
  .top_visual .slide1 .txtwrap {
    font-family: RIDIBatang; }
  .top_visual .controller {
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    position: absolute;
    bottom: 20px;
    left: 50%;
    z-index: 100;
    width: 320px;
    height: 28px; }
    .top_visual .controller .swiper-pagination-fraction {
      color: #fff;
      position: relative;
      top: 0;
      left: -100px; }
      .top_visual .controller .swiper-pagination-fraction .swiper-pagination-current {
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%); }
        .top_visual .controller .swiper-pagination-fraction .swiper-pagination-current::after {
          content: "";
          position: absolute;
          top: 50%;
          right: 132px;
          width: 60px;
          height: 2px;
          background: #ccc; }
      .top_visual .controller .swiper-pagination-fraction .swiper-pagination-total {
        padding-left: 80px; }
    .top_visual .controller .swiper-button-prev, .top_visual .controller .swiper-button-next {
      position: absolute;
      top: 18px;
      width: 32px;
      height: 32px;
      z-index: 10;
      cursor: pointer;
      color: transparent;
      background: no-repeat center; }
    .top_visual .controller .swiper-button-prev:after, .top_visual .controller .swiper-button-next:after {
      display: none; }
    .top_visual .controller .swiper-button-prev {
      left: 132px;
      background-image: url("../images/main/mainb_ion_prev1x.png"); }
    .top_visual .controller .swiper-button-next {
      background-image: url("../images/main/mainb_ion_next1x.png"); }
  .top_visual .controller > .autoplay, .top_visual .controller > .autostop {
    width: 32px;
    height: 32px;
    background: blueviolet;
    position: absolute;
    left: 240px;
    top: -4px; }
  .top_visual .controller > .autoplay {
    background: url("../images/main/icon_pause_1x.png"); }
  .top_visual .controller > .autostop {
    background: url("../images/main/icon_pause_1x.png"); }

/* 상단메뉴 */
.quick_top {
  height: 138px;
  overflow: hidden; }
  .quick_top a, .quick_top img, .quick_top span {
    display: block;
    text-align: center; }
  .quick_top span {
    line-height: 16px;
    font-weight: 500; }
  .quick_top .swiper-container {
    max-width: 480px;
    text-align: center;
    min-width: 480px; }
    .quick_top .swiper-container .swiper-wrapper > div {
      text-align: center;
      margin-left: 18px; }
  .quick_top .swiper_menu div {
    float: left;
    margin-top: 20px;
    margin-bottom: 20px; }
  .quick_top .swiper_menu div + div {
    margin-right: 0px; }
  .quick_top .bg_gray {
    height: 8px;
    background: #eeeeee; }

.cnt1 .swiper-container {
  margin: 0 -20px; }
  .cnt1 .swiper-container .swiper-wrapper .swiper-slide {
    width: 70%;
    position: relative;
    left: -32px; }
    .cnt1 .swiper-container .swiper-wrapper .swiper-slide .img_box {
      position: relative;
      -webkit-border-radius: 8px;
      border-radius: 8px;
      overflow: hidden;
      max-width: 240px; }
      .cnt1 .swiper-container .swiper-wrapper .swiper-slide .img_box .tit_warp {
        -webkit-transform: translate(-50%);
        transform: translate(-50%);
        position: absolute;
        left: 50%;
        top: 0;
        width: 208px;
        height: 28px;
        line-height: 28px;
        margin-top: 16px; }
    .cnt1 .swiper-container .swiper-wrapper .swiper-slide .txt_box .ft_gray p:last-child {
      margin-top: 16px; }
.cnt1 .tit_warp span {
  margin: 8px; }
.cnt1 .tit_warp span::before {
  -webkit-border-radius: 14px;
  border-radius: 14px; }
.cnt1 .tit_warp span:first-child {
  color: #fff; }
.cnt1 .tit_warp span:first-child::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100px;
  height: 28px;
  z-index: -1;
  background: #88B14B; }
.cnt1 .tit_warp span:last-child::before {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 204px;
  height: 28px;
  background: #fff;
  z-index: -2; }
.cnt1 .academy1 .tit_warp span:first-child::before {
  background-color: #6B1866; }
.cnt1 .academy2 .tit_warp span:first-child::before {
  width: 114px; }

.cnt2 > h3 {
  display: block;
  text-align: center; }
.cnt2 .swiper-container {
  margin: 0 -20px; }
.cnt2 .swiper-slide {
  -webkit-transition: transform 0.3s;
  -moz-transition: transform 0.3s;
  -o-transition: transform 0.3s;
  transition: transform 0.3s;
  width: 72%;
  position: relative; }
  .cnt2 .swiper-slide .img_box {
    max-width: 240px; }
  .cnt2 .swiper-slide .txt_club {
    padding: 0 0 0 16px;
    position: absolute;
    color: #fff;
    bottom: 24px;
    max-width: 224px; }
    .cnt2 .swiper-slide .txt_club strong, .cnt2 .swiper-slide .txt_club a, .cnt2 .swiper-slide .txt_club span {
      display: inline-block; }
    .cnt2 .swiper-slide .txt_club strong {
      width: 200px;
      height: 40px;
      margin-bottom: 10px; }
    .cnt2 .swiper-slide .txt_club strong + p {
      margin-bottom: 20px; }
    .cnt2 .swiper-slide .txt_club .txt_tag a {
      margin-bottom: 6px;
      margin-right: 4px; }
      .cnt2 .swiper-slide .txt_club .txt_tag a span {
        padding: 4px 14px;
        border: 1px solid #e5e5e5;
        border-radius: 20px; }
.cnt2 .swiper-slide-prev, .cnt2 .swiper-slide-next {
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
  opacity: 0.7; }
.cnt2 .swiper-slide-prev {
  transform-origin: right center; }
.cnt2 .swiper-slide-next {
  transform-origin: left center; }
.cnt2 .swiper-container-android .swiper-slide,
.cnt2 .swiper-wrapper {
  transform: translate3d(20px, 0, 0); }

.cnt3 .list_read {
  height: 260px; }
  .cnt3 .list_read li {
    float: left;
    margin-bottom: 60px; }
  .cnt3 .list_read li:first-child {
    margin-right: 16px; }

.cnt4 a, .cnt4 strong, .cnt4 span {
  display: inline-block; }
.cnt4 .list_event li ul {
  height: 110px; }
  .cnt4 .list_event li ul li {
    float: left; }
.cnt4 .img_event {
  -webkit-border-radius: 8px 0 0 8px;
  border-radius: 8px 0 0 8px;
  overflow: hidden;
  max-width: 110px;
  /* & a{display: inline;} */ }
.cnt4 .txt_event {
  -webkit-border-radius: 0 8px 8px 0;
  border-radius: 0 8px 8px 0;
  /* min-width: 100%; */
  /* margin-left: 16px; width: 180px;*/
  min-width: 210px;
  height: 110px;
  background: #f6f6f6; }
  .cnt4 .txt_event strong, .cnt4 .txt_event span {
    padding-left: 16px; }
  .cnt4 .txt_event .font16 {
    width: 180px;
    height: 48px; }
  .cnt4 .txt_event .font12 {
    position: relative; }
    .cnt4 .txt_event .font12 span:first-child::after {
      -webkit-transform: translate -50%;
      transform: translate -50%;
      content: "";
      position: absolute;
      top: 50%;
      left: 80px;
      width: 12px;
      height: 1px;
      background: #949494; }

.cnt5 a, .cnt5 span {
  display: inline-block; }
.cnt5 .list_notice li {
  /* height: 40px; */
  background: #fff;
  padding: 8px; }
  .cnt5 .list_notice li a {
    width: 228px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }
  .cnt5 .list_notice li span {
    float: right; }
.cnt5 .list_notice li:first-child, .cnt5 .list_notice li:nth-child(2) {
  border-bottom: 1px solid #eeeeee; }

/* 슬라이더 공통 */
#swiperContainer {
  position: relative; }

#swiperContainer .swiper-pagination {
  bottom: 12px;
  text-align: center; }

#swiperContainer .swiper-container .swiper-button-prev, #swiperContainer .swiper-container .swiper-button-next {
  display: none; }

/* 슬라이더1 */
#swiperContainer {
  /* .swiper-container.type1{height: 120px;} */
    /* .swiper-pagination-fraction{
        display: none;}
    .swiper-pagination {
        position: absolute;
        right: -70%;
        text-align: center;
        }
    
    .swiper-pagination-bullet {
        @include transition(all 0.3s ease-in-out);
        width: 6px;
        height: 2px;
        display: inline-block;
        border-radius: 0;
        background: #191919;
        opacity: 0.2;
        position: absolute;
        z-index: 100;
    }

    .swiper-pagination-bullet-active {
        opacity: 1;
        background: #191919;
        width: 32px;
    }
    .swiper-container-vertical > .swiper-pagination-bullets {
        right: 10px;
        top: 50%;
    }
    .swiper-container-vertical > .swiper-pagination-bullets .swiper-pagination-bullet {
        margin: 6px 0;
        display: block;
    }
    .swiper-container-vertical > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
        top: 50%;
        width: 8px;
    } */ }
  #swiperContainer .swiper-pagination-fraction {
    display: none; }

/* linebanner book1 */
#slide1 .swiper-slide {
  position: relative;
  /* line-height: 120px;height: 120px; */
  line-height: 120px;
  height: 120px;
  -webkit-background-size: cover;
  background-size: cover; }
  #slide1 .swiper-slide::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    right: 0;
    top: 0;
    background: no-repeat center; }

#slide1 .line_slide1 {
  background: url("../images/common/banner_book1_bg1x.jpg") repeat-x; }

#slide1 .line_slide1::before {
  background-image: url("../images/common/banner_book1_1x.jpg"); }

#slide1 .line_slide2 {
  background: url("../images/common/banner_book2_bg1x.jpg") repeat-x; }

#slide1 .line_slide2::before {
  background-image: url("../images/common/banner_book2_1x.jpg"); }

#slide1 .line_slide3 {
  background: url("../images/common/banner_book3_bg1x.jpg") repeat-x; }

#slide1 .line_slide3::before {
  background-image: url("../images/common/banner_book3_1x.jpg"); }

/* @media
screen and (-webkit-min-device-pixel-ratio: 2), 
screen and (min-resolution: 192dpi),
screen and (min-resolution: 2dppx) {
    #slide1 {
        .line_slide1{background-image: url("../images/common/banner_book1_bg2x.jpg");}
        .line_slide1::before{background-image: url("../images/common/banner_book1_2x.jpg");}
        .line_slide2{background-image: url("../images/common/banner_book2_bg2x.jpg");}
        .line_slide2::before{background-image: url("../images/common/banner_book2_2x.jpg");}
        .line_slide2{background-image: url("../images/common/banner_book3_bg2x.jpg");}
        .line_slide3::before{background-image: url("../images/common/banner_book3_2x.jpg");}
    }
}
@media
screen and (-webkit-min-device-pixel-ratio: 3), 
screen and (min-resolution: 288dpi),
screen and (min-resolution: 3dppx) {
    #slide1{
        .line_slide1{background-image: url("../images/common/banner_book1_bg3x.jpg");}
        .line_slide1::before{background-image: url("../images/common/banner_book1_3x.jpg");}
        .line_slide2{background-image: url("../images/common/banner_book2_bg3x.jpg");}
        .line_slide2::before{background-image: url("../images/common/banner_book2_3x.jpg");}
        .line_slide2{background-image: url("../images/common/banner_book3_bg3x.jpg");}
        .line_slide3::before{background-image: url("../images/common/banner_book3_3x.jpg");}
    }
} */

/*# sourceMappingURL=main.css.map */
