@charset "utf-8";
@import "_mixin", "_var";

.top_visual{
    display: flex;justify-content: center;align-items: center;position: relative;width: 100%;overflow: hidden;

    &::before{
        @include bgsize(cover);
        @include transform(scale(1.5));
        content: "";position: absolute;top: 0;left: 0;width: 100%;max-height: 100%;background-position: center;
    }
    &.on::before{@include transform(scale(1));}
    .txtwrap{position: relative;color: #fff;}
}

/* 메인슬라이더 */
.top_visual{
    position: relative;
    max-height: 400px;min-width: 360px;
    .slide_wrap{
        img{display: block;width: 100%;}
    }
    .swiper-slide{height: 400px;}
    .swiper-slide .slide_wrap{width: 100%;}
    .swiper-slide .txtwrap{
        /* @include transform(translateY(-50%)); */
        margin-left: 20px;
        /* position: absolute;left: 0;top: 32%;width: 240px;height: 280px;bottom: 60%; */
        position: absolute;left: 0;top: 32%;width: 240px;height: 280px;bottom: 60%;
    }

    .swiper-slide .txtwrap > h4{font-size: 24px;line-height: 40px;height: 72px;}
    .swiper-slide .txtwrap > p{margin-top: 20px;}

    .slide1 .txtwrap{
        font-family: RIDIBatang;
    }

  

    .controller{
        @include transform(translateX(-50%));
        position: absolute;bottom: 20px;left: 50%;z-index: 100;width: 320px;height: 28px;
        .swiper-pagination-fraction{
            color: #fff;
            position: relative;top: 0;left: -100px;

            .swiper-pagination-current{
                @include transform(translateY(-50%));
                &::after{content: "";position: absolute;top: 50%;right: 132px;width: 60px;height: 2px;background: #ccc;}
            }

            .swiper-pagination-total{
                padding-left: 80px;
            }   
        }
        .swiper-button-prev, .swiper-button-next{
            position: absolute;
            top: 18px;
            width: 32px;
            height: 32px;
            z-index: 10;
            cursor: pointer;
            color: transparent;
            background: no-repeat center;
        }

        .swiper-button-prev:after, .swiper-button-next:after{display: none;}

        .swiper-button-prev{left: 132px;background-image: url("../images/main/mainb_ion_prev1x.png");}
        .swiper-button-next{background-image: url("../images/main/mainb_ion_next1x.png");}
    }

    .controller > .autoplay, .controller > .autostop{
        width: 32px;height: 32px;background: blueviolet;position: absolute;left: 240px;top: -4px;
    }
    .controller > .autoplay{background: url("../images/main/icon_pause_1x.png");}
    .controller > .autostop{background: url("../images/main/icon_pause_1x.png");}
    
}

/* 상단메뉴 */
.quick_top{
    height: 138px;overflow-y: auto;width: 100%;
    ul{width: 486px;height: 100%;text-align: center;}
    ul li{float: left;width: 60px;margin: 20px 0 20px 18px;}
    a, img, span{display: block;text-align: center;}
    span{line-height: 16px;font-weight: 500;}
}

.bg_gray{height: 8px;background: #eeeeee;}

/* 컨텐츠1 */
.cnt1{
    .swiper-container{
        margin: 0 -20px;
        .swiper-wrapper{
            .swiper-slide{
                /* width: 248px; position: relative;left: -32px; */
                .img_box{
                    position: relative;
                    @include radius(8px);
                    overflow: hidden;
                    max-width: 240px;
                    .tit_warp{
                        @include transform(translate(-50%));
                        position: absolute;left: 50%;top: 0;width: 208px;height: 28px;line-height: 28px;margin-top: 16px;
                    }                
                }
                .txt_box{
                    .ft_gray p:last-child{margin-top: 16px;}
                }
            }
        }
        
    }

    .tit_warp{
        
        span{margin: 8px;}
        span::before{
            @include radius(14px);
        }
        span:first-child{color: #fff;}
        span:first-child::before{content: "";position: absolute;left: 0;top: 0;width: 100px;height: 28px;z-index: -1;background: $lightGreen;}
        span:last-child::before{content: "";position: absolute;right: 0;top: 0;width: 204px;height: 28px;background: #fff;z-index: -2;}
        
    }
    .academy1{
        .tit_warp{
            span:first-child::before{background-color: #6B1866;}
        }
    }
    .academy2{
        .tit_warp{
            span:first-child::before{width: 114px;}
        }
    }


    .swiper-pagination{background: transparent;}
}

/* 컨텐츠2 */

.cnt2{
    > h3{display: block;text-align: center;}
    .swiper-container{
        margin: 0 -20px;
    }
    .swiper-slide{
        @include transition(transform 0.3s);
        /* width: 73%; */
        width: 240px;margin-right: 20px;
        /* position: relative; */
        .img_box{
            max-width: 240px;
            > a{display: blcok;}
        }
        .txt_club{
            padding: 0 0 0 16px; position: absolute;color: #fff;bottom: 24px;max-width: 224px;
            strong, a, span{display: inline-block}
            strong{width: 200px;height: 40px;margin-bottom: 10px;}
            strong + p{margin-bottom: 20px;}
            .txt_tag{
                a{
                    margin-bottom: 6px;margin-right: 4px;
                    span{padding: 4px 14px;border: 1px solid #e5e5e5;border-radius: 20px;}
                }
            }
        }
    }
    .swiper-slide-prev, .swiper-slide-next{
        @include transform(scale(0.9));
        opacity: 0.7;
    }
    .swiper-slide-prev{transform-origin: right center;}
    .swiper-slide-next{transform-origin: left center;}

    .swiper-container-android .swiper-slide,
    .swiper-wrapper {transform: translate3d(20px, 0, 0);}
    
}

/* .cnt2.cnt2_swiper{
    margin: 0 -20px;
    .swiper-slide{
        @include transition(transform 0.5s);
        width: 80%;color: #fff;

        .swiper-slide-prev, .swiper-slide-next{
            @include transform(scale(0.9));
            opacity: 0.7;
          }
    }
} */

/* 컨텐츠3 */
.cnt3{
    .list_read{
        height: 260px;
        li{float: left;margin-bottom: 60px;}
        li:first-child{margin-right: 16px;}
    }
    .tit_warp .font16{
        strong{display: inline-block;}
        width: 140px;height: 44px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;
    }
}

/* 컨텐츠4 */
.cnt4{
    a, strong, span{display: inline-block;}

    .list_event{
        li ul{
            height: 110px;
            li{float: left;}
        }
    }
    .img_event{
        @include radius(8px 0 0 8px);
        overflow: hidden;max-width: 110px;
        /* & a{display: inline;} */
    }
    .txt_event{
        @include radius(0 8px 8px 0);
        /* min-width: 100%; *//* margin-left: 16px; width: 180px;*/
        min-width: 210px;height: 110px;background: #f6f6f6;
        strong, span{padding-left: 16px;display: inline-block;}
        .font16{
            width: 180px;height: 48px;
            white-space: nowrap;overflow: hidden;text-overflow: ellipsis;
        }
        .font12{
            position: relative;
            span:first-child::after{
                @include transform(translate (-50%));
                content: "";position: absolute;top: 50%;left: 80px;width: 12px;height: 1px;background: #949494;
            }
        }
    }
}


/* 컨텐츠5 */
.cnt5{
    a, span{display: inline-block;}
    .list_notice{
        li{
            /* height: 40px; */background: #fff;padding: 8px;
            a{width: 228px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
            span{float: right;}
        }
        li:first-child, li:nth-child(2){border-bottom: 1px solid #eeeeee;}
    }
}



/* 슬라이더 공통 */
#swiperContainer{
    position: relative;
}
/* #swiperContainer .swiper-pagination{text-align: center;} */

    #swiperContainer{
        .swiper-container{
            .swiper-button-prev, .swiper-button-next{
                display: none;
            }
        }
    }
    
    

/* 슬라이더1 */
#swiperContainer{
    /* .swiper-pagination-fraction{
        display: none;} */
    /* .swiper-container.type1{height: 120px;} */
    /* .swiper-pagination-fraction{
        display: none;}
    .swiper-pagination {
        position: absolute;
        right: -70%;
        text-align: center;
        }
    
    .swiper-pagination-bullet {
        @include transition(all 0.3s ease-in-out);
        width: 6px;
        height: 2px;
        display: inline-block;
        border-radius: 0;
        background: #191919;
        opacity: 0.2;
        position: absolute;
        z-index: 100;
    }

    .swiper-pagination-bullet-active {
        opacity: 1;
        background: #191919;
        width: 32px;
    }
    .swiper-container-vertical > .swiper-pagination-bullets {
        right: 10px;
        top: 50%;
    }
    .swiper-container-vertical > .swiper-pagination-bullets .swiper-pagination-bullet {
        margin: 6px 0;
        display: block;
    }
    .swiper-container-vertical > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
        top: 50%;
        width: 8px;
    } */

}



   /* 슬라이드 띠배너1 */
.swiper-container.type1{
    height: 120px;
    .swiper-slide{
        background-repeat: repeat-x;text-align: center;
        &.line_slide1{background-image: url("../images/common/banner_book1_bg1x.jpg");}
        &.line_slide2{background-image: url("../images/common/banner_book2_bg1x.jpg");}
        &.line_slide3{background-image: url("../images/common/banner_book3_bg1x.jpg");}
    }
    .swiper-slide img{width: 360px;}

    .swiper-pagination{
        @include transform(translateX(-50%));
        left: 50%;
        bottom: 110px;
    }
} 

    
    /* 슬라이드 띠배너2 */
    #lineSlide2{
        height: 120px;width: 100%;
        .swiper-slide{width: 100%;height: 100%;top: 0;bottom: 0;left: 0;right: 0;        
        }

        &::before{
            content: "";position: absolute;width: 100%;height: 100%;right: 0;top: 0;
            background: repeat-x center;
          }

        & .bnr_movie1{
            background-image: url("../images/common/banner_movie1_bg1x.jpg");}

        & .bnr_movie2{
            background-image: url("../images/common/banner_movie2_bg1x.jpg");}

        & .bnr_movie3{
            background-image: url("../images/common/banner_movie3_bg1x.jpg");}

        .swiper-pagination-fraction{display: none;}
}